<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="acadProgramFolder" value="C:\Program Files\Autodesk\AutoCAD 2024"/>
    <add key="acadScriptFilePath" value="C:\devgit\LearnAcad\src\AutoCadApp\AutoCadLib\bin\Debug\net48\RunTest.scr"/>
    <add key="acadWorkingFolder" value="C:\devgit\Data\emco"/>
    <add key="dwgFileList" value="drawings.txt"/>
    <add key="runCommand" value="6"/>
    <add key="scriptTimeOutMinute" value="2"/>
    <add key="configXml" value="acadrunconfig.xml"/>
  </appSettings>
</configuration>